<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/app/profile/priyesh.jani/viz/WorldDemographicAnalysisDashboard_17173836045910/WorldDemographics" class="portfolio-box">
                    <!--<img src="img/portfolio/World Demographics.jpg" alt="Project Image" class="project-image">-->
                    <img src="img/portfolio/World Demographics (1).jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                World Demographic Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/app/profile/priyesh.jani/viz/CoalTerminalProject_17173831618270/Story1" class="portfolio-box">
                    <!--<img src="img/portfolio/Coal Terminal.jpg" alt="Project Image" class="project-image">-->
                    <img src="img/portfolio/Coal Terminal.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                Coal Terminal Maintenance Analysis (Mock Up)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/app/profile/priyesh.jani/viz/ExpansionAnalysisInsights_17173834516100/FinalPresentation" class="portfolio-box">
                    <img src="img/portfolio/Expansion Analysis.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Visualization
                            </div>
                            <div class="project-name">
                                Expansion Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/priyesh-jani/Python-Projects" class="portfolio-box">
                    <img src="img/portfolio/images.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Python Projects
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://priyesh-jani.github.io/portfolio/Chatbot.html" class="portfolio-box">
                    <img src="img/portfolio/AI_Chatbot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Using AI in Visualization
                            </div>
                            <div class="project-name">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Conversion Rate Optimization.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website Conversion Optimization
                            </div>
                            <div class="project-name">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
