<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include blogs.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNVFVHH7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Google Analytics Tracking Code -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NK0602BEGN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-NK0602BEGN');
  </script>
  <!-- End Google Analytics Tracking Code -->



</body>

</html>
